.container-fluid {
    margin-top: 20%;
    background-color: white;
    width: 45%;
    border-radius: 6px 6px 6px 6px;
    padding: 2%;
    padding-top: 3%;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    .container-fluid {
      margin-top: 50%;
      width: 50%
    }

  }
